<ion-header>
	<ion-toolbar color="light">
		<ion-buttons start>
			<button ion-button icon-only color="royal" navPop>
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Carrinho ({{count}})</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-card *ngIf="products.length == 0" padding>
		<ion-card-header>
			<ion-icon name="information-circle" color="primary"></ion-icon> Ooops!
		</ion-card-header>
		<ion-card-content>
			Nenhum produto selecionado!
		</ion-card-content>
	</ion-card>
	<ion-list>
		<ion-item-sliding *ngFor="let product of products">
			<ion-item>
				<ion-label>
					<h2>{{product.name}}</h2>
					<h3 color="primary">R$ {{product.value | number:"1.2-2"}}</h3>
				</ion-label>
				<button ion-button clear item-right round outline color="danger" (click)="removeProduct(product.id)">REMOVER</button>
			</ion-item>
			<ion-item-options side="right">
      			<button ion-button color="danger" (click)="removeProduct(product.id)">
      				<ion-icon name="close"></ion-icon>
      				REMOVER
      			</button>
    		</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-footer *ngIf="products.length > 0">
		<ion-toolbar class="total-value-bar">
			Valor Total: <span>R$ {{total | number:"1.2-2"}}</span>
		</ion-toolbar>
	</ion-footer>
</ion-content>